@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Chalfin Goldberg Vainboim Advogados</h2>
    <p class="lead">
        Desde sua fundação, o CGV Advogados atua tanto na advocacia de grande volume quanto na advocacia estratégica.

        No segmento advocacia de grande volume, todo o trabalho administrativo é delegado a um time de paralegais,
        cabendo aos advogados dedicação exclusiva à análise e preparação dos casos. Dessa maneira, cadastro, acordos, encerramentos,
        entre outras "atividades meio", são realizadas pelo time de suporte.
        Tudo organizado através de uma esteira operacional, apoiada em workflow padronizado para todo o escritório..
    </p>
    <p><a target="_blank" href="https://www.cgvadvogados.com.br/" class="btn btn-primary btn-lg">Visitar site &raquo;</a></p>
</div>

